body{
    background-image: url(https://media.istockphoto.com/id/1133851396/vector/abstract-vector-curve-pattern-grey-and-white-gradient-wave-background-illustration-for.jpg?s=612x612&w=0&k=20&c=Jh4y4v98xKdzz7ipQAG06Q3oTBTI1_CdP4JTt7uQIDg=);
    filter: blur();
    font-family:Raleway;

}
.formdiv input::placeholder{
    font-style: italic;
    font-size: 12px;
    color: rgb(176, 176, 184);
}
#form{
    width: 600px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border: 2px solid rgb(198, 207, 209);
    border-radius: 5px;
    padding: 45px;
    font-size: 14px; 
}
#form h1{
    text-align: center;
    color: rgb(44, 49, 53)  
}
#butoni{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 7px;
    border: 1px rgb(158, 151, 151) solid;
    border-radius: 5px;
    font-family: Raleway;
    background-color: rgb(114, 112, 201);
    color: white; 
}
#butoni:hover{
    background-color:  rgb(210, 102, 253);
}
.formdiv{
    display: flex;
    flex-direction: column;
    margin-top: -9px;
}
.formdiv input{
    padding: 5px;
    border: 1px solid rgb(175, 162, 162);
    border-radius: 5px; 
}
.formdiv label{
    margin-left: 1px;
    font-weight: 440;
}
.formdiv a{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
.formdiv select{
    font-family:Raleway;
    margin-top:5px
}
.formdiv input:focus {
    outline: 0;
}
.radiodiv {
    font-size: 12px;
    margin-bottom: 21px;
    margin-top:-12px; 
}
.checkoxdiv {
    font-size: 12px;
    margin-bottom: 21px;
    margin-top:-12px;
}
textarea{   
    font-family:Raleway;
}
.formdiv textarea::placeholder{
    font-style: italic;
    font-size: 12px;
    color: rgb(176, 176, 184);
    font-family:Raleway;
}

.formdiv.error input {
    border-color: rgb(241, 86, 86);
    border-radius: 5px;
}

.formdiv.error textarea {
    border-color: rgb(241, 86, 86);
    border-radius: 5px;
}
.formdiv .error {
    color: rgb(241, 86, 86);
    font-size: 9px;
    height: 15px;
}

.opsionale{
    font-size: 10px;
    margin-top: 1px;
    margin-left:5px;
    color:rgb(0, 0, 0);
}
.nevojshme{
    font-size: 10px;
    margin-top: 1px;
    margin-left:3px;
    color:rgb(255, 0, 0);
}
#div1{
    width:180px;
    height:80px;
    display:none;
    background-color: rgb(98, 105, 81);
    align-items: center;
    text-align: center;
}