:root{
    --firered:rgb(175, 31, 31);
    --bgcolor:rgb(240, 235, 235);
    --red-hover: #9c1515;
    --white: #fdfdfd;
    --bg: #e2cdcd;
    --border-color: #574d4d;
    --header-height: 80px;
    --nav-width: 300px;
    --footer-height: 40px;
    
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/*.header-kon{
    text-align: center;
    /* float: left;
    width: 100%;
    padding: 20px 60px;
    height: var(--header-height);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);

}*/
body
{
    height: auto;
    width:100%;
    display:flex;
    justify-content: center;
    background-color: var(--bgcolor);
    width: 100%;
    margin: 0;
    padding: 0;
   
}
.body-kon{
    float:calc(100% - var(--nav-width));
    align-items:center;
}

table{
    border: 2px solid grey;
}

table td{
    border:2px solid grey;
    padding:25px 70px;
}


#info-konvikte{
    width: 100%;

    /*height: calc(100% - (var(--footer-height) + var(--header-height)));*/
}

aside {
    float: left;
    width: var(--nav-width);
    border-right: 1px solid var(--border-color);
    height: 100%;
}
.left-konviktet{
    float: left;
    width: 100%;
    height: 100%;
    margin: 10;
    list-style-type: none;
    padding: 0;
}
.left-konv{
    height: 100%;
}


.konviktet li{
    width: 100%;
    float: left;
}

.nav-kon{
    float: left;
    width: 100%;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--firered);
    border-bottom: 1px solid var(--border-color);
}

/*rritja e fotove pas h*/
.grow{
    transition: .3s ease;
}
img{
    width:200px;
    height: 150px;
}
.grow:hover{
    transform: scale(2);
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
}