@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Seymour+One&display=swap');

/* :root {
  --firered: rgb(175, 31, 31);
  --bgcolor: rgb(240, 235, 235);
  --red-hover: #9c1515;
  --white: #fdfdfd;
  --bg: #e2cdcd;
  --border-color: #574d4d;
  --header-height: 80px;
  --nav-width: 300px;
  --footer-height: 40px;
} */





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*Navbari*/
.Pjesa1{
  width: 100%;
  margin:0;
  background-color: #3C3C3C;
  height: 100px;
  color:white;
}
.st{
    margin-top:80px;
    /* position: absolute; */
    height:50px;

    padding-top:15px;
    font-size:30px;
    cursor:pointer;
}

.Pjesa1 a{
    margin-left:30px;
    margin-top:30px;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
}
header{
    width: 100%;

}
.Fotoja1{
    border-radius: 100%;
    height:70px;
    width: 70px;
    margin:20px;

}

.Pjesa2{
  width:100%;
  height: 50px;
  background-color: #81a1ed;
  margin-top:0px;
}

.Click{
  list-style-type: none;
  float:right;

}
.Click li{
  float: left;
  margin-right:25px;

}
.Click a{
  text-decoration: none;
  font-size:20px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/*Navbari 2*/
.header-kon {
  width: 100%;
  padding: 20px 60px;
  height: 50px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-auto-flow: column;
  place-items: start center;
  gap: 1rem;
  background-color: #81a1ed;
}
details {
  z-index: 2;
  background-color: #81a1ed;
}
details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}
#paragraph {
  padding: 8px;
}

.header-title {
  cursor: pointer;
  font-size: 20px;
  color:#ddd;
}
.header-title a{
  text-decoration: none;
}
.header-title:hover {
  color: rgb(234, 165, 165);
}

.bottom-part {
  margin: 50px 70px;
}


  /*fototja- sldier*/
  .oborri {
    width: 100%;
    height: 700px;
    position: relative;
  }
  #grow {
    z-index: -1;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  /* .oborri-header {
    position: absolute;
    top: 30px;
    left: 49.5%;
    background-color: rgba(255,255,255,0.4)
  } */
  #slider-right {
    font-size: 45px;
    position: absolute;
    top: 90%;
    left: 55%;
    cursor: pointer;
    background-color: rgba(198, 197, 197, 0.5);
  }
  #slider-left {
    font-size: 45px;
    position: absolute;
    top: 90%;
    left: 40%;
    cursor: pointer;
    background-color: rgba(198, 197, 197, 0.5);
  }


/*Qmimet dhe informata*/
.templates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 20px;
}
.items11 span {
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#81a1ed;
  font-size:20px;
  display: grid;
  place-items: center;
}
.items11 p {
  font-size: 20px;
}
.items11 {
  display: grid;
  grid-template-rows: 50px 150px;
  place-items: center;
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.bottom-title {
  text-align: center;
}

#info-konvikte {
  width: 100%;
  display: grid;
}

aside {
  float: left;
  width: var(--nav-width);
  border-right: 1px solid var(--border-color);
  height: 100%;
}
.left-konviktet {
  float: left;
  width: 100%;
  height: 100%;
  margin: 10;
  list-style-type: none;
  padding: 0;
}



/* a{
  text-decoration: none;
  color:black;
}
a:hover {
  color: black;
} */


/*Foto align Bibloteka*/
.bibloteka-images {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin-left: 10%;
  width:80%;
  /* grid-template-columns: repeat(autofill minmax(200px, 1fr));*/  
  padding: 10px;
  gap: 3%;
  
}
.grow-bl{
  border-radius: 3%;
}
.bibloteka-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*bibloteka*/
.bibloteka-txt{
  text-align: center;
  padding: 30px 0px 0 0;
}
.ne-shfrytezim{
  text-align: center;
  font-size: 20px;
  padding:30px 0 0 0;
}
.bibl-all{
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1% 0;
}

a{
  text-decoration: none;
  color:white
}

.konv-all{
  border: 1px solid black;
  border:3px solid;

  border-color:#bbb9b9;
  border-radius: 15px;
  
}
.konviktet-all{
  border: 1px solid black;
  border:1px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*foto konviktet bootstrap*/
.konviktet-txt{
  text-align: center;
  padding:40px 0 20px 0;
}

.container{
padding: 1rem;
margin-top: 3rem;

}

.container > h1{
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.image-boot{
  display: block;
  width:100%;
  
}
.overlay{
  position:apsolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  color: rgba(255,255,255,0.5);
  opacity:0;
  transform: .5s ease;

}

.caption{
  font-size: 2rem;
  position:absolute;
  top:50%;
  left:50%; 
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

.thumbnail:hover{
  transform: translateY(-4px);
}
.img-container:hover .overlay{
  opacity:1;
}

/*rritja e fotove pas h*/
 .grow-bl{
    transition: .3s ease;
}


.grow-bl:hover{
    transform: scale(1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1);
} 
