body{
    background: linear-gradient(to right, rgb(146, 69, 69), rgb(70, 4, 253));
    font-family:Raleway;
}

#form{
    width:300px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 20px;
    font-size: 14px;

}

#form h1{
    text-align: center;
}
#form button{
    width: 100%;
    margin: 10px 0 0 0;
   padding: 7px;
    border: 1px black solid;
    border-radius: 5px;
    font-family: Raleway;
    background-color: rgb(242, 210, 255);
    
    
}
#butoni:hover{
    background-color:  rgb(210, 102, 253);
}
.formdiv{
    display: flex;
    flex-direction: column;
}

.formdiv input{
    margin-bottom:15px;
    padding: 5px;
    
    
}

.formdiv label{
    margin-left: 1px
}
.formdiv a{
    text-align: center;
    margin-top: 10px;
    font-size: 12px
}

.formdiv.error{
    color: red;
    height: 12px;
    font-size: 9px;
}
.formdiv.error input{
    border: 3px red solid;

}

.formdiv.success{
    border: 3px solid green;
}