
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*Navbari*/
.Pjesa1{
  width: 100%;
  margin:0;
  background-color: #3C3C3C;
  height: 100px;
  color:white;
}
.Pjesa1 a{
  color:white
}
.Pjesa1 a:hover{
  color:#c8c7c7
}
.st{
    margin-top:80px;
    /* position: absolute; */
    height:50px;

    padding-top:25px;
    font-size:30px;
    cursor:pointer;
}

.Pjesa1 a{
    margin-left:30px;
    margin-top:30px;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
}
header{
    width: 100%;

}
.Pjesa1 img{
  margin:0;
}
.Fotoja1{
    
    height:100px;
    width: 100px;

}

/* .Pjesa2{
  width:100%;
  height: 50px;
  background-color: #81a1ed;
  margin-top:0px;
}

.Click{
  list-style-type: none;
  float:right;

}
.Click li{
  float: left;
  margin-right:25px;

}
.Click a{
  text-decoration: none;
  font-size:20px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} */


 /* header 1 responsive */
.header {
  overflow: hidden;
  background-color: #81a1ed;
  

}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


.header a:hover {
  color: #c8c7c7;
}

/* .header a.active {
  background-color: dodgerblue;
  color: white;
} */

.header-right {
  float: right;
}

@media screen and (max-width: 450px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}





/*Navbari 2*/
.header-menza {
  width: 100%;
  padding: 20px 60px;
  height: 50px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-auto-flow: column;
  place-items: start center;
  gap: 1rem;
  background-color: #81a1ed;
   
}

.header-menza a{
  color:white;

}
.header-menza a:hover {
  color: black;
}
details {
  z-index: 2;
  background-color: #81a1ed;
}
details > p {
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}
#paragraph {
  padding: 8px;
}

.header-title {
  cursor: pointer;
  font-size: 20px;
  color:white;
}
.header-title a{
  text-decoration: none;
}
/* .header-title:hover {
  color: rgb(234, 165, 165);
} */

.bottom-part {
  margin: 50px 70px;
}


  /*fototja- sldier*/
  .oborri {
    width: 100%;
    height: 550px;
    position: relative;
  }
  #grow {
    z-index: -1;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  
 /* #slider-right {
    font-size: 45px;
    position: absolute;
    top: 90%;
    left: 55%;
    cursor: pointer;
    background-color: rgba(198, 197, 197, 0.5);
  }
  #slider-left {
    font-size: 45px;
    position: absolute;
    top: 90%;
    left: 40%;
    cursor: pointer;
    background-color: rgba(198, 197, 197, 0.5);
  }
  */


  /*Rreth menzes*/
.templates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 20px;
}

.items11 span {
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#81a1ed;
  font-size:20px;
  display: grid;
  place-items: center;
}
.items11 p {
  font-size: 20px;
}
.items11 {
  display: grid;
  grid-template-rows: 50px 150px;
  place-items: center;
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.bottom-title {
  text-align: center;
}

#info-menza {
  width: 100%;
  display: grid;
}

aside {
  float: left;
  width: var(--nav-width);
  border-right: 1px solid var(--border-color);
  height: 100%;
}
.left-menza {
  float: left;
  width: 100%;
  height: 100%;
  margin: 10;
  list-style-type: none;
  padding: 0;
}
  
  /*lavandaria*/
.lavandaria-txt{
  font-size: 30px;
  text-align: center;
  padding: 10px 0 ;
}
#lavandaria{
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rregulla{
 font-size: 17px;
 padding-left:5%;
 }
 .rregulla-par{
  font-size: 18px;
  padding:1%;
  color:#81a1ed;
  text-shadow: -1px 8px 8px rgb(101, 94, 94);
 }
 .li-lavandaria{
  padding:10px 0 ;
 }

/* a{
  text-decoration: none;
  color:black;
}
a:hover {
  color: black;
} */


/*orari*/
.orari-txt{
  font-size: 30px;
  text-align: center;
  padding: 10px 0 ;
}
#orari{
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sherbimi{
 font-size: 17px;
 padding-left:5%;
 }
 .sherbimi-par{
  font-size: 18px;
  padding:1%;
  color:#81a1ed;
  text-shadow: -1px 8px 8px rgb(101, 94, 94);
 }
 .li-orari{
  padding:10px 0 ;
 }

 /*cmimi*/
 .cmimi-txt{
  font-size: 30px;
  text-align: center;
  padding: 10px 0 ;
}
#cmimi{
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pagesa{
 font-size: 17px;
 padding-left:5%;
 }
 .cmimi-muaj{
  font-size: 18px;
  padding:1%;
  color:#81a1ed;
  text-shadow: -1px 8px 8px rgb(101, 94, 94);
 }
 .li-cmimi{
  padding:10px 0 ;
 }


 /*menu*/
 .menu-txt{
  font-size: 30px;
  text-align: center;
  padding: 10px 0 ;
 }
 .ushqimi{
  font-size: 17px;
  padding-left:5%;
  
 }
 .menu-ditore{
  font-size: 18px;
  padding:1%;
  color:#81a1ed;
  text-shadow: -1px 8px 8px rgb(101, 94, 94);
 }
 .menu{
  font-size: 17px;
  padding-left:5%;
 }
 #menu{
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 menu-foto {
  display: grid;
  grid-auto-flow: column;
  place-items: right;
  margin-left: 10%;
  width:50%;
  /* grid-template-columns: repeat(autofill minmax(200px, 1fr));*/  
  padding: 5px;
  gap: 3%;
  
}
.menu-ditore{
  font-size: 18px;
  padding:1%;
  color:#81a1ed;
}
.li-menu{
  padding:10px 0 ;
}




 /*me shume*/
 .meshume-text{
  font-size: 30px;
  text-align: center;
  padding: 10px 0 ;
 }
 #meshume{
  border: 1px solid black;
  border:3px solid;
  background-color: #EDEDED;
  border-color:#EDEDED;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .meshume-info{
  font-size: 18px;
  padding:1%;
  color:#81a1ed;
  text-shadow: -1px 8px 8px rgb(101, 94, 94);
  
  
 }
 .li-meshume{
  padding:10px 0 ;
  text-align: center;
 }
 .infot{
  font-size: 17px;
  
 }
 .source src{
  border-radius: 100px;
 }
 

 
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
stars{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content:center ;
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.star_rating{
  user-select: none;
  animation: scale-up 1s ease;
  

}

.star_rating{
  user-select:none;
  background-color:#dfdddd;
  padding:1.4rem 2.5rem;
  margin:2rem;
  border-radius: 4rem;
  text-align:center;
  animation: scale-up 1s ease;
}


 .star{
  font-size: 3rem;
  color:#ff9800;
  background-color:unset;
  border:none;
 }
 .star:hover{
  cursor:pointer;
 }